background-opacity = .95
font-size = 14

background = #1e1e1e
foreground = #dcdccc
selection-background = #363636
selection-foreground = #ffffff

palette = 0=#4d4d4d
palette = 8=#709080
palette = 1=#705050
palette = 9=#dca3a3
palette = 2=#60b48a
palette = 10=#c3bf9f
palette = 3=#f0deae
palette = 11=#dfcf9f
palette = 4=#506070
palette = 12=#94bff3
palette = 5=#dc8cc3
palette = 13=#ec93d3
palette = 6=#8cd0d3
palette = 14=#93e0e3
palette = 7=#dcdccc
palette = 15=#ffffff

macos-icon = custom-style
macos-titlebar-style = hidden
macos-icon-frame = plastic
macos-icon-ghost-color = yellow
macos-icon-screen-color = dark sea green,dark slate grey

window-inherit-working-directory = true
window-save-state = always

shell-integration-features = no-cursor, no-sudo
cursor-style = block
background-opacity = 0.92
background-blur-radius = 32

window-padding-x = 11
window-padding-y = 11
adjust-cell-height = 10%
macos-option-as-alt = left

unfocused-split-opacity = 1
keybind = global:alt+space=toggle_quick_terminal

